# SPDX-License-Identifier: MIT
# Derived from Valve Corporation's deckard-steamvr-session (MIT)
# steamac: replaces the Frame's plasma-session.target (the "Plasma (Wayland)"
# session, start-gamescope-session plasma-session.target, that Steam's Switch to
# Desktop / steamosctl switch-to-desktop-mode logs in to). The stock target is
# the VR desktop: it wants steamvr.service and steamvr-nested-desktop.service
# (which requires SteamVR), all runtime-masked in the VM, so nothing would start
# Plasma. Here the gamescope session runs the nested Plasma desktop itself:
# /usr/lib/steamos/gamescope-session passes steamac-nested-desktop.service to
# gamescope-onready, which waits for it, so the session lasts as long as Plasma.
[Unit]
Description=Plasma Desktop Session (steamac VM)
Requires=graphical-session.target
BindsTo=graphical-session.target
After=graphical-session.target
PropagatesStopTo=graphical-session.target

Requires=gamescope-session.service
BindsTo=gamescope-session.service

Wants=ibus-gamescope.service
